nav {

    li{
        width: 20%;
        padding: 1rem;
        border-left: 2px solid black;
    }

    li:nth-child(1){
        border-right: none;
        border-left: none;
    }
}

main {
    
    img{
        text-align: left;
    }

    .image2{
        display: block;
    }

    .image1{
        display: none;
    }
}